<!DOCTYPE html>
<html>
<head>
	<title>Back Office Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 style="text-align:center">Society Name</h1><br>
		</div>
	</div>
		<div class="col-md-3">
			<div>
			<button type="button" class="btn btn-success btn-lg" aria-label="Left Align">
  				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
			<a class="btn btn-primary" href="#" role="button" style="font-size:2em">Add Event</a>				
			</div><br><br>
			<div>
				<button type="button" class="btn btn-success btn-lg" aria-label="Left Align">
  				<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
				</button>
				<a class="btn btn-info" href="#" role="button" style="font-size:2em">Veiw Events</a>				
			</div><br><br>
			<div>
				<button type="button" class="btn btn-success btn-lg" aria-label="Left Align">
  				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				</button>
				<a class="btn btn-primary" href="#" role="button" style="font-size:2em">Add Winners</a>				
			</div><br><br>
			<div>
				<button type="button" class="btn btn-success btn-lg" aria-label="Left Align">
  				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
				</button>
				<a class="btn btn-danger" href="#" role="button" style="font-size:2em">Log Out</a>				
			</div>
		</div>
</body>
</html>