<!DOCTYPE html>
<html>
<head>
<title>Veiw Winners</title>
</head>
<body>
@include('header')
<div class="container">
	<h1>{{ $society_name }}</h1>
		<div style="text-align:center">
		<table class=" table table-bordered">
			<tr>
				<th>#</th>
				<th>Event Id</th>
				<th>Event Name</th>
				<th>Winner</th>
				<th>First Runner Up</th>
				<th>Second Runner Up</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Event Id</td>
				<td>Event name</td>
				<td>Name1</td>
				<td>Name2</td>
				<td>Name3</td>
			</tr>
		</table>	
		</div>
	</div><br><br><br><br><br><br>
</body>
</html>